@*@model IEnumerable<_19T1021007.DomainModels.Employee>*@
@model _19T1021007.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý nhân viên";
}

<div class="box box-primary">
    <div class="box-body">
        <!--from tìm kiếm-->
        <form id="formSearch" action="~/Employee/Search" method="post">
            @* <form action="~/Employee" method="get">*@
            <div class="input-group">
                <input type="hidden" name="PageSize" value="@Model.PageSize" />
                <input type="text" name="searchValue"
                       class="form-control" placeholder="Search..." value="@ViewBag.SearchValue">
                <span class="input-group-btn">
                    <button type="submit" id="search-btn" class="btn btn-info">
                        <i class="fa fa-search"></i>
                    </button>

                    <a href="~/Employee/Create" class="btn btn-primary" style="margin-left:5px">
                        <i class="fa fa-plus-circle"></i> Bổ sung
                    </a>
                </span>
            </div>
        </form>
        <div id="searchResult">

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });
            console.log(url);
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                    //console.log(data);
                }
            });

            return;
        }
    </script>
}

<!--danh sách nhà cung cấp , phân trang-->
@*<p>
        Có <strong>@ViewBag.RowCount</strong> nhân viên trong tổng số <strong>@ViewBag.PageCount</strong> trang
    </p>
    <div class="table-responsive">
        <table class="table table-bordered  table-hover table-striped">
            <thead>
                <tr class="bg-primary">


                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Ngày sinh</th>
                    <th>Ảnh</th>
                    <th>Ghi chú</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.FirstName </td>
                        <td>@item.LastName</td>
                        <td>@item.BirthDate</td>-->
                        <td ><img src="~/Themes/dist/img/user2-160x160.jpg" style="width:60px; text-align:center"></td>
                        <td><img style="width:50px;height:50px;border-radius:6px" src="@item.Photo" alt="avatar" /></td>
                        <td>@item.Notes </td>
                        <td>@item.Email</td>

                        <td class="text-right">
                            <a href="~/Employee/Edit/@item.EmployeeID" class="btn btn-sm btn-primary" title="Sửa">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/Employee/Delete/@item.EmployeeID" class="btn btn-sm btn-danger" title="Xóa">
                                <i class="fa fa-trash"></i>

                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="active"><a href="#">@i</a></li>
                    }
                    else
                    {
                        <li><a href="~/Employee?page=@i&searchValue=@ViewBag.SearchValue">@i</a></li>
                    }
                }
            </ul>
        </div>
    </div>
        </div>
    </div>
*@


